<!DOCTYPE html>
<html lang="en">

<% include _globals/head.ejs %>

<body class="d-flex flex-column h-100">

<% include _globals/header.ejs %>

<main role="main" class="flex-shrink-0">

    <div class="header-img">
        <div class="overlay">
            <div class='container-fluid'>
                <div class="row">
                    <div class="col-md-12 header-text">
                        <img src="/img/Logo.png">
                        <h1>Stellar SMP</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main-section" class="container">

        <div class="row">

            <div class="col col-12 col-md-12 col-sm-12">
                <h1>404 - Error</h1>

                <h4>The page you were looking for could not be found</h4>

            </div>

        </div>

    </div>
</main>

<% include _globals/footer.ejs %>

</body>

</html>