<!DOCTYPE html>
<html lang="en">

<% include _globals/head.ejs %>

<body class="d-flex flex-column h-100">

<% include _globals/header.ejs %>

<main role="main" class="flex-shrink-0">

    <div class="header-img">
        <div class="overlay">
            <div class='container-fluid'>
                <div class="row">
                    <div class="col-md-12 header-text header-text-small">
                        <img src="/img/Logo.png">
                        <h1>Stellar SMP</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <iframe src="https://livemap.stellarsmp.com/" class="map-frame"></iframe>

</main>

<% include _globals/footer.ejs %>

</body>

</html>