<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar"
                aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/members">Members</a></li>
                <li class="nav-item"><a class="nav-link" href="/map">Live Map</a></li>
                <li class="nav-item"><a class="nav-link" href="https://discord.gg/MuV7QnZ" target="_blank">Discord</a></li>
                <li class="nav-item"><a class="nav-link" href="https://docs.google.com/forms/d/15zUrO6pymb65_MTd1Jv8i_JC7VAdSdbNE0eF413785E/viewform?edit_requested=true" target="_blank">Apply</a></li>

            </ul>

        </div>

    </nav>
</header>