<!DOCTYPE html>
<html lang="en">
<% include _globals/head.ejs %>

<body>

<% include _globals/header.ejs %>

<div class="container-fluid bottom-div">

    <div class="spacer"></div>

    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">The page you were looking couldn't be shown due to an error!</div>
        </div>
    </div>
</div>

<% include _globals/footer.ejs %>

</body>

<% include _globals/scripts.ejs %>

</html>